/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
   --Color-Blanco: #ffffff
   --Color-Claro: #F5F5F5;
   --Color-Medio: #EAF2FD;
   --Color-Oscuro: #2A7AE4;
   --Color-Fonts: #464646;
   --Color-Negro: #000000;

   --Fuente-Primaria: 'Raleway', sans-serif;
}
/* Globales */

html{
    font-size: 62.5%; /*ayuda a que la medida rem se adapte a distintas pantallas */
    box-sizing: border-box; /* Hack para box model *//*ayuda a que no se generen conflicto de medidas con el pading*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {box-sizing: inherit; } /*ayuda a que no se generen conflicto de medidas con el pading*/
body{
    font-size: 16px; /* 1rem = 10px */ /*ayuda a que la medida rem se adapte a distintas pantallas */
    font-family: var(--Fuente-Primaria);
    background-color: var(--Color-Claro);
    background-image: linear-gradient(to top, var(--color6) 0%, var(--Color1) 100% );
    box-sizing: border-box;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--Color-Fonts);
}
.tudo {
    max-width: 1200rem; /*toma como maximo 1200px=120rem, si es menos se adacta solo*/
    margin: 0 auto 0 auto;
}


/*Sección Menu*/

section.menu{
    display: flex;
}

.menu__header{
    display: flex;
    flex: auto;
    align-items: center;
    margin-left: 2rem;
}
.menu__header img{
    margin-right: 1rem;
    width: 24px;
    height: 24px; 
}
.menu__title{
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;   
}
.menu__list{
    display: flex;
    align-items: center;
    margin-right: 2rem;  
}
.menu__list__item{
    margin-right: 2rem; 
    padding: 1rem;   
}
.menu__list__item:hover{
    border-radius: .5rem;
    background-color: var(--Color-Medio);
}
.menu__list__item a{
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu__contacto a{
    font-weight: 800;
}
/*Sección Title*/

section.title{
    margin: 2rem;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
   margin: auto;
   width: 1136px;
}
.title__profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;
    justify-content: flex-end;
}
.title__container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    gap: 24px;
    width: 751px;
}
.title__bio{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title__subsection{
    align-self: stretch;
color: var(--Color-Fonts);
font-family: var(--Fuente-Primaria);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.title__network{
    display: flex;
    align-items: flex-start;
    height: 24px;
    gap: 32px;
}
.title__network__item {
    display: flex;
    align-items: center;
    gap: 4px;
    
}
.title__network__item a{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.title__network__item a img{
    width: 24px;
    height: 24px;  
}
.title__network__item:hover{
    transform: scale(1.2); 
}

/*Sección About*/

section.about{
    display: flex;
    padding: 64px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--Color-Medio);
    padding: auto 10rem auto 1rem;
}
.about__container{
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 0;
}

.about__title{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.about__paragraph{
    width: 751px;
    margin: 0;
    color: var(--Color-Fonts);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about__container img{
    width: 140px;
    height: 52px;
}
/*Sección Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
    align-self: stretch;
    padding: 10rem 5rem;
}
.skills__title{
    color: var(--Color-Fonts);
    text-align: center;
    font-family: var(--Fuente-Primaria);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.skill__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: var(--Color-Fonts);
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}
.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills__img{
    max-height: 100px;
    align-items: center;
}
.skills__name{
    color: var(--Color-Fonts);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.otro-height{
    height: 100px;
}
.skills__box:hover{
    transform: scale(1.2);
}
/* Experiencia Académica*/

section.academic{
    display: flex;
    padding: 82px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background-color: var(--Color-Medio);
}
.academic__title{
    color: var(--Color-Fonts);
    text-align: center;
    font-family: var(--Fuente-Primaria);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.academic__courses{
    display: flex;
}
.academic__courses__box{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.academic__courses__list{
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 386px;
    justify-content: center;
    align-items: center;
}
.div__img{
    width: auto;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    padding: 3rem;
    border-radius: 1rem;
    background-color: #ffffff;
}
.div__img:hover{
    transform: rotate(5deg) scale(1.09) ; 
}

.academic__courses__item__img{
    max-width: 200px;
    max-height: 190px;
}
.academic__courses__item__title{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.academic__courses__item__subtitle{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* experiencia*/

section.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.experience__section__title{
    color: var(--Color-Fonts, #464646);
    text-align: center;
    font-family: var(--Fuente-Primaria);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.experiencie__box{
    display: flex;
    width: 1136px;
    height: 406px;
    align-items: center;
  
   
}
.experiencie__box2{
    display: flex;
    flex-direction: row-reverse;
    width: 1136px;
    height: 406px;
    align-items: center;
    
   
}
.experience__img{
    width: 752px;
    flex-shrink: 0;
    align-self: stretch;
}
.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.experience__info_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    flex: 1 0 0;
    margin-right: 0;
}

.experience__title{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);  
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.experience__text{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.experience__description{
    display: flex;
    align-items: flex-end;
    gap: 16px;
}
.experience__repo{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
}
.experiencia__botao--repo{
    color: var(--Color-Claro, #2A7AE4);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: var(--Color-Blanco);
}
.experience__demo{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Color-Oscuro);
}
.experience__botao--demo{
    color: var(--Color-Claro, #ffffff);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: var(--Color-Oscuro);
}

.experiencia__botao--repo:hover, 
.experience__botao--demo:hover{
    cursor: pointer;
    transform: scale(1.1);
}




/*Contacto*/

section.formcontato{
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--Color-Medio);
}
.formcontato__contacto{
    display: flex;
    width: 1136px;
    padding-top: 64px;
    align-items: center;
    gap: 5rem;
}
.formcontato--esquerda{
   
}
.formcontato__img{
    width: 464px;
    height: 493px;
    flex-shrink: 0;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 493px;
}
.formcontato__title{
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: .5rem;
    margin-top: 0;
}
.formcontato__subtext{
    width: 656px;
    color: var(--Color-Fonts);
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.formcontato__form{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.campo{
    display: contents;
   
}
.formcontato__input{
    display: flex; 
    align-items: center;
    align-self: stretch;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border: none;
    color: var(--Color-Fonts);
}
.formcontato__textarea{
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 92px;
    align-self: stretch;
    padding-left: 1rem;
    border: none;
    color: var(--Color-Fonts);
}
.formcontato__input:hover, .formcontato__textarea:hover{
    border: solid #48AFCB  2px; 
}
.formcontato__input:focus, .formcontato__textarea:focus{
    outline: none;
}
.formcontato__botao{
    border: none;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var( --Color-Oscuro);
    color: var(--Color-Claro, #ffffff);
}
.formcontato__botao:hover{
    cursor: pointer;  
    transform: scale(1.09);
}
.input-mensaje-error {
    margin-left: .2rem;
    color: red;
    font-size: 1.2rem;
    font-weight: 550;
    font-family: var(--Fuente-Primaria);
}

/*footeer*/

section.footer{
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer__rodape{
    color: var(--Color-Fonts, #464646);
    text-align: center;
    font-family: var(--Fuente-Primaria);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media only screen and (max-width: 768px) {
    .tudo{
        
    display: flex;
    width: 768px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
/* Menú */
section.menu{
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 8px; 
}
.menu__list{
    display: none;
}

/*Titulo*/
section.title{
    max-width: 100%;
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    box-sizing: border-box;
}
.title__div{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}
.title__profile{
    width: 146px;
    height: 146px;
}
.title__container{
    display: flex;
    width: min(100%, 524px);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.title__bio{
    font-size: 22px;
    font-weight: 700;
}
.title__subsection{
    font-size: 16px;
    font-weight: 400;
    
}
.title__network{
    display: flex;
    align-items: flex-start;
    gap: 32px;
 
}
.title__network__item{
    align-self: stretch;
}
.title__network__item a{
    display: flex;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    height: 16px;
}
.title__network__item img{
    width: 24px;
    height: 24px; 
}
/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media only screen and (max-width: 480px) {
.tudo{
    max-width: 100%;
    box-sizing: border-box;
    
}
/*Menu*/
section.menu{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.menu__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;  
}
/*Titulo*/
section.title{
    max-width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    box-sizing: border-box;
}
.title__div{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}
.title__profile{
    width: 98px;
    height: 98px;
}
.title__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}
.title__bio{
    font-size: 22px;
    font-weight: 700;
}
.title__subsection{
    font-size: 14px;
    font-weight: 400;
    
}
.title__network{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-left: 0;
    align-self: stretch;
}
.title__network__item{
    align-self: stretch;
}
.title__network__item a{
    display: flex;
    gap: 4px;
    font-size: 14px;
    width: auto;
    height: 16px;
}
.title__network__item img{
    width: 16px;
    height: 16px; 
}
/*Sección sobre mi*/
section.about{
    display: flex;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}
.about__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
}
.about__title{
    font-size: 22px;
}
.about__paragraph{
    width: min(100%, 480px);
    font-size: 14px;
    font-weight: 400;
}
/*Skills*/
section.skills{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    max-width: 100%;
    box-sizing: border-box;
}
.skills__box{

}
.skills__img, .otro-height{
    max-width: 100px;
    max-height: 100px;
}

/*Formación Académica*/
.academic{
    max-width: 100%;
    box-sizing: border-box;
}
.academic__courses__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Experiencia Profesional*/
.experience{
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    box-sizing: border-box;
}
.experience__section__title{
    margin-bottom: 0;
}
.experiencie__box, .experiencie__box2{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 5rem;
}
.experience__img{
    width: 40rem;
    height: 20rem;
    max-width: 100%;
    height: auto;
}
.experience__info, .experience__info_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 /*Contacto*/
 .formcontato{
    max-width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
}
.formcontato__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    max-width: 100%;
    gap: 10px;
}
.formcontato--esquerda{
    display: none;
}
.formcontato__text{
    max-width: 100%;
    align-self: stretch;
}
.formcontato__title{
    font-size: 22px;
    margin-bottom: 1rem;
}
.formcontato__subtext{
    font-size: 16px;
    width: 100%;
    margin-bottom: .5rem;
}
.formcontato__form{
    overflow: hidden;
}
.formcontato__input{
    max-width: 100%;
}
.footer{
    max-width: 100%;
    gap: 10px;
    align-self: stretch;
}
}